
.jumbotron {
    background-color: #c7dcfc;
    padding-bottom: 100px }
  
.jumbotron .btn-primary {
    background: #225196;
    border-color: #88b2f7; }
    
.jumbotron .btn-primary:hover {
      background: #88b2f7; }
  
.jumbotron p {
    color: #113a77;
    max-width: 75%;
    margin: 1em auto 2em; }
  
.navbar + .jumbotron {
    margin-top: -20px; }
    
.jumbotron .lang-logo img {
      max-width: 100%; }

.tab {
    margin: 5px;
    padding: 5px;
    border: 2px;
    border: linear-gradient(#33ccff 50%, #3366ff 100%) 5px;
    background-color: linear-gradient(#33ccff 50%, #3366ff 100%);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
