
.jumbotron {
    background-color: #c7dcfc;
    padding-bottom: 100px }
  
.jumbotron .btn-primary {
    background: #225196;
    border-color: #88b2f7; }
    
.jumbotron .btn-primary:hover {
      background: #88b2f7; }
  
.jumbotron p {
    color: #113a77;
    max-width: 75%;
    margin: 1em auto 2em; }
  
.navbar + .jumbotron {
    margin-top: -20px; }
    
.jumbotron .lang-logo img {
      max-width: 100%; }
