<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'index')}">

<body>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
	
	<span th:switch="${logged}">
		<span th:case="'1'">
			<h1>Welcome, <span th:text="${user}" /></h1>
			<p id="time"></p>
			
			<div class="alert alert-success alert-dismissable" style="display: none;" id="record_status">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				<span id="recordAlertMessage">Success! message sent successfully.</span>
			</div>
			
			<button class="btn btn-lg btn-default" onclick="clockIn()"><span class="glyphicon glyphicon-time"></span> Clock In </button>
			<button class="btn btn-lg btn-default" onclick="clockOut()"><span class="glyphicon glyphicon-time"></span> Clock Out </button>
			<button class="btn btn-lg btn-default"  onclick="lunchStart()"><span class="glyphicon glyphicon-cutlery"></span> Lunch Start </button>
			<button class="btn btn-lg btn-default"  onclick="lunchEnd()"><span class="glyphicon glyphicon-cutlery"></span> Lunch End </button>
		</span>
		<span th:case="*">
			<h1>Welcome</h1>
			<!-- <p>This is a sample Java application deployed to Heroku. It's a reasonably simple app - but a good foundation for understanding how to get the most out of the Heroku platform.</p>
			<a type="button" class="btn btn-lg btn-default" href="https://devcenter.heroku.com/articles/getting-started-with-java"><span class="glyphicon glyphicon-flash"></span> Getting Started with Java</a>
			<a type="button" class="btn btn-lg btn-primary" href="https://github.com/heroku/java-getting-started"><span class="glyphicon glyphicon-download"></span> Source on GitHub</a>
			-->
		</span>
	</span>
  </div>
</div>

<div class="container">
  <!--<div class="alert alert-info text-center" role="alert">
    To deploy your own copy, and learn the fundamentals of the Heroku platform, head over to the <a href="https://devcenter.heroku.com/articles/getting-started-with-java" class="alert-link">Getting Started with Java on Heroku</a> tutorial.
  </div>
  th:switch="${#lists.isEmpty(records)}"
  <hr> -->
  <div class="row" th:switch="${logged}">
	
    <table class="table" th:case="'1'">
	  <span th:switch="${#lists.isEmpty(records)}">
		  <span th:case="true">
			<h3> No Records Available </h3>
		  </span>
		  <span th:case="*">
			<thead>
			  <tr>
				<th scope="col">Action</th>
				<th scope="col">Timestamp</th>
			  </tr>
			</thead>
			<tbody>
			  <tr th:each="record : ${records}">
				<td><span th:text="${record.action}"></span></td>
				<td><span th:text="${record.timestamp}"></span></td>
			  </tr>
			</tbody>
		  </span>
	  </span>
	</table>
	
	<!--<div class="alert alert-info text-center" role="alert" th:case="*">
    To deploy your own copy, and learn the fundamentals of the Heroku platform, head over to the <a href="https://devcenter.heroku.com/articles/getting-started-with-java" class="alert-link">Getting Started with Java on Heroku</a> tutorial.
	</div>-->
	<div class="alert alert-info text-center" role="alert" th:case="*">
		Please login to manage your account!
	</div>
  </div>
</div>

<script>

function recordCallback(data) {
  $('#recordAlertMessage')[0].innerHTML = data;
  $('#record_status').show();
}

function clockIn() {
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      recordCallback(xhttp.response);
    }
  };
  xhttp.open("POST", "/record", true);
  xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
  xhttp.send("action=Clock_In");
}

function clockOut() {
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
	  recordCallback(xhttp.response);
    }
  };
  xhttp.open("POST", "/record", true);
  xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
  xhttp.send("action=Clock_Out");
}

function lunchStart() {
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      recordCallback(xhttp.response);
    }
  };
  xhttp.open("POST", "/record", true);
  xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
  xhttp.send("action=Lunch_Start");
}

function lunchEnd() {
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      recordCallback(xhttp.response);
    }
  };
  xhttp.open("POST", "/record", true);
  xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
  xhttp.send("action=Lunch_End");
}
</script>

</body>
</html>
