<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'index')}">

<body>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/">
      <img src="/logo.png">
    </a>
	
	<span th:switch="${logged}">
		<span th:case="'1'">
			<h1>Profile</h1>
		</span>
		<span th:case="*">
			<meta http-equiv="refresh" content="0; URL='/'" />
		</span>
	</span>
  </div>
</div>

<div class="container">
  <div class="row">
		<ul>
			<h2 th:text="${ProfileData.FULLNAME}"></h2>
			<h3>
				Username: <span th:text="${ProfileData.USERNAME}"></span> <br>
				Department: <span th:text="${ProfileData.DEPARTMENT}"></span> <br>
				PTO Hours: <span th:text="${ProfileData.PTO}"></span> <br>
			</h3>
		</ul>
  </div>
</div>

</body>
</html>
