<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'index')}">

<body>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
	
	<span th:switch="${logged}">
		<span th:case="'1'">
			<h1>Profile</h1>
		</span>
		<span th:case="*">
			<meta http-equiv="refresh" content="0; URL='/'" />
		</span>
	</span>
  </div>
</div>

<div class="container">
  <div class="row">
  </div>
</div>

</body>
</html>
