<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'index')}">

<body>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
	
	<span th:switch="${logged}">
		<span th:case="'1'">
			<h1>Timesheet</h1>
		</span>
		<span th:case="*">
			<meta http-equiv="refresh" content="0; URL='/'" />
		</span>
	</span>
  </div>
</div>

<div class="container">
  <div class="row">
  
	<table class="table table-striped">
		<span th:switch="${#lists.isEmpty(week)}">
			<span th:case="true">
				<h3> No Records Available </h3>
			</span>
		<span th:case="*">
		  <thead>
			<tr>
				<th scope="col">Date</th>
				<th scope="col">Clock In</th>
				<th scope="col">Clock Out</th>
				<th scope="col">Lunch Start</th>
				<th scope="col">Lunch End</th>
				<th scope="col">Hours Worked</th>
			</tr>
		  </thead>
		  <tbody>
			<tr th:each="day : ${week}">
				<th scope="row"><span th:text="${day.Date}"></span></th>
				<td><span th:text="${day.Clock_In}"></span></td>
				<td><span th:text="${day.Clock_Out}"></span></td>
				<td><span th:text="${day.Lunch_Start}"></span></td>
				<td><span th:text="${day.Lunch_End}"></span></td>
				<td><span th:text="${day.Total_Hours}"></span></td>
			</tr>
			<tr><th scope="row">Total Hours</th><td></td><td></td><td></td><td></td><td th:text="${totalHours}"></td></tr>
		  </tbody>
		</span>
	  </span>
	</table>
	
  </div>
</div>

</body>
</html>
